html, body{
    margin : 0;
    padding: 0;
}

#header{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#header .titulo {
    font-size: x-large;
    color: #333;
    font-family: sans-serif;
    font-weight: 100;
}

#header .logo{
    display: block;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./logo.png");
}

.title {
    display: block; 
    margin-top: 8px;
}

.restaurante {
    padding : 8px;
}
